.top-banner {
  height: 600px;
  background: url("../assets/images/car1.jpg");
  background-size: cover;
  background-position: right;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

.top-banner:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.95) 0%,
    rgba(255, 255, 255, 0.8) 40%,
    rgba(230, 233, 255, 0.6) 70%,
    rgba(230, 233, 255, 0.4) 100%
  );
  z-index: 0;
}

.top-banner:after {
  content: "";
  position: absolute;
  width: 800px;
  height: 800px;
  background: linear-gradient(
    circle,
    rgba(230, 233, 255, 0.8) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  right: -200px;
  top: -100px;
  z-index: 0;
}

.banner-content {
  text-align: left;
  max-width: 600px;
  padding-left: 10%;
  z-index: 1; /* Keep this to ensure text stays above overlays */
}

.banner-title {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.4;
  color: #000;
}

.banner-subtitle {
  font-size: 1rem;
  color: #555;
  margin-bottom: 30px;
}

.banner-button {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  color: #000;
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.banner-button:hover {
  background-color: #000;
  color: #fff;
}

.content {
  text-align: center;
  padding: 60px 20px;
}

.content-header {
  max-width: 800px;
  margin: 0 auto;
}

.content-icon img {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}

.content-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.content-description {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
}


